@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

:root {
  --main-font: 'DM Sans', sans-serif;
  --title-font: 'Titan One', cursive;
  --accent-color: #d41443;
  --title-color:#d41443;
  --subtitle-color: #ffa5ba;
  --text-color: #907e82;
  --dark-text-color: #000000;
  --white-text-color: #ffffff;
  --bg-light-pink: #fff5f6;
  --bg-pink: #ffb8ca;
  --bg-light-green: #C2E297;
  --bg-beige: #F0D1A5;
}

.button-light, .button-pink {
  display: block;
  margin: 0 auto;
  font-size: 21px;
  line-height: 0.7619;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  outline: none;
  cursor: pointer;
  border-color: transparent;
  padding: 17px 37px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

body {
  font-family: var(--main-font);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 36px;
    padding-right: 36px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 113px;
    padding-right: 113px;
  }
}

.title {
  font-size: 34px;
  line-height: 1.14706;
  font-weight: 400;
  font-family: "Titan One", cursive;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--title-color);
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 48px;
    line-height: 1.14583;
    font-weight: 400;
    font-family: "Titan One", cursive;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 58px;
    line-height: 1.13793;
    font-weight: 400;
    font-family: "Titan One", cursive;
    letter-spacing: 0.06em;
  }
}

.subtitle {
  font-size: 18px;
  line-height: 1.16667;
  font-weight: 400;
  font-family: "Titan One", cursive;
  text-align: center;
  color: var(--subtitle-color);
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .subtitle {
    font-size: 26px;
    line-height: 1.15385;
    font-weight: 400;
    font-family: "Titan One", cursive;
  }
}

@media screen and (min-width: 1200px) {
  .subtitle {
    font-size: 30px;
    line-height: 1.13333;
    font-weight: 400;
    font-family: "Titan One", cursive;
    letter-spacing: 0.04em;
  }
}

.button-light {
  color: var(--accent-color);
  background-color: #ffffff;
}

.button-light:hover, .button-light:focus {
  background-color: #ecebeb;
}

.button-pink {
  background-color: #d41443;
  color: #ffffff;
}

.button-pink:hover, .button-pink:focus {
  background-color: #c7133e;
}

.button-arrow-right {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  fill: var(--accent-color);
  border-radius: 50px;
  border-color: transparent;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  outline: none;
  cursor: pointer;
}

.products .subtitle {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.products .title {
  margin-bottom: 114px;
}

.products .button-arrow-right {
  margin-bottom: 40px;
  margin: auto;
}

.products-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .products-cards__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: -10px;
  }
}

.products-card__item {
  padding-top: 30px;
}

@media screen and (min-width: 768px) {
  .products-card__item {
    margin: 10px;
    -ms-flex-preferred-size: calc((100% - 3 * 20px) / 3);
        flex-basis: calc((100% - 3 * 20px) / 3);
  }
}

.products__title {
  position: relative;
  font-size: 20px;
  line-height: 1.15;
  font-weight: 400;
  font-family: "Titan One", cursive;
  color: var(--white-text-color);
  text-align: center;
}

.products__title::before {
  position: absolute;
  content: '';
  display: block;
  margin: 0 auto;
  width: 249px;
  height: 252px;
  background-image: url("../images/products/mobile/cream/pic1.png");
  background-repeat: no-repeat;
  -webkit-transform: translate(8%, -110%);
          transform: translate(8%, -110%);
}

@media screen and (min-width: 768px) {
  .products__title::before {
    background-image: url("../images/products/tabl/cream/pic1.png");
    -webkit-transform: translate(1%, -105%);
            transform: translate(1%, -105%);
  }
}

@media screen and (min-width: 1200px) {
  .products__title {
    font-size: 30px;
    line-height: 1.14667;
    font-weight: 400;
    font-family: "Titan One", cursive;
  }
}

.products-card--pink {
  padding-top: 161px;
  background: var(--bg-pink);
  border-radius: 24px;
  width: 280px;
  height: 485px;
  margin-bottom: 130px;
}

@media screen and (min-width: 768px) {
  .products-card--pink {
    padding-top: 152px;
    width: 220px;
    height: 485px;
  }
}

@media screen and (min-width: 1200px) {
  .products-card--pink {
    width: 329px;
    height: 525px;
  }
}

.products-card--coffee {
  padding-top: 161px;
  background: var(--bg-beige);
  border-radius: 24px;
  width: 280px;
  height: 485px;
  margin-bottom: 130px;
}

.products-card--coffee .products__title {
  position: relative;
  font-size: 20px;
  line-height: 1.15;
  font-weight: 400;
  font-family: "Titan One", cursive;
  color: var(--white-text-color);
  text-align: center;
}

.products-card--coffee .products__title::before {
  position: absolute;
  content: '';
  display: block;
  margin: 0 auto;
  width: 249px;
  height: 252px;
  background-image: url("../images/products/mobile/cofee/pic1.png");
  background-repeat: no-repeat;
  -webkit-transform: translate(8%, -110%);
          transform: translate(8%, -110%);
}

@media screen and (min-width: 768px) {
  .products-card--coffee .products__title::before {
    background-image: url("../images/products/tabl/cofee/pic1.png");
    -webkit-transform: translate(1%, -105%);
            transform: translate(1%, -105%);
  }
}

@media screen and (min-width: 768px) {
  .products-card--coffee {
    padding-top: 152px;
    width: 220px;
    height: 485px;
  }
}

@media screen and (min-width: 1200px) {
  .products-card--coffee {
    width: 329px;
    height: 525px;
  }
}

.products-card--green {
  padding-top: 161px;
  background: var(--bg-light-green);
  border-radius: 24px;
  width: 280px;
  height: 485px;
}

.products-card--green .products__title {
  position: relative;
  font-size: 20px;
  line-height: 1.15;
  font-weight: 400;
  font-family: "Titan One", cursive;
  color: var(--white-text-color);
  text-align: center;
}

.products-card--green .products__title::before {
  position: absolute;
  content: '';
  display: block;
  margin: 0 auto;
  width: 249px;
  height: 252px;
  background-image: url("../images/products/mobile/mshake/pic1.png");
  background-repeat: no-repeat;
  -webkit-transform: translate(8%, -110%);
          transform: translate(8%, -110%);
}

@media screen and (min-width: 768px) {
  .products-card--green .products__title::before {
    background-image: url("../images/products/tabl/mshake/pic1.png");
    -webkit-transform: translate(1%, -105%);
            transform: translate(1%, -105%);
  }
}

@media screen and (min-width: 768px) {
  .products-card--green {
    padding-top: 152px;
    width: 220px;
    height: 485px;
  }
}

@media screen and (min-width: 1200px) {
  .products-card--green {
    width: 329px;
    height: 525px;
  }
}

.products-card__text {
  color: var(--white-text-color);
  font-size: 14px;
  line-height: 1.52143;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  padding: 30px 40px;
}

@media screen and (min-width: 768px) {
  .products-card__text {
    font-size: 14px;
    line-height: 1.78571;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
  }
}

@media screen and (min-width: 1200px) {
  .products-card__text {
    margin: 32px 44px 62px;
  }
}
/*# sourceMappingURL=main.css.map */