<!--header-->
<header class="header">
    <div class="container">
        <nav class="navigation">
            <a class="navigation__link" href="/">
                <picture>
                    <source srcset="./images/header/logo-dt-@1x.webp 1x, ./images/header/logo-dt-@2x.webp 2x"
                    media="(min-width: 1200px)" type="image/webp">
                    <source srcset="./images/header/logo-dt-@1x.png 1x, ./images/header/logo-dt-@2x.png 2x"
                    media="(min-width: 1200px)">
                    <source srcset="./images/header/logo-tab-@1x.webp 1x, ./images/header/logo-tab-@2x.webp 2x"
                    media="(min-width: 768px)" type="image/webp">
                    <source srcset="./images/header/logo-tab-@1x.png 1x, ./images/header/logo-tab-@2x.png 2x"
                    media="(min-width: 768px)">
                    <source srcset="./images/header/logo-mob-@1x.webp 1x, ./images/header/logo-mob-@2x.webp 2x"
                    media="(min-width: 480px)" type="image/webp">
                    <source srcset="./images/header/logo-mob-@1x.png 1x, ./images/header/logo-mob-@2x.png 2x"
                    media="(min-width: 480px)" >
                    <img src="./images/header/logo.png" alt="Логотип"> 
                </picture>
                </a>
            <ul class="menu__list list">
                <li class="menu__item">
                    <a class="menu__link menu__link--active link" href="">Home</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link link" href="/">About us</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link link" href="/">How it’s made?</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link link" href="/">Our products</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link link" href="/">Contact</a>
                </li>
            </ul>
        </nav>
        <button class="modal__btn" type="button" data-modal-open>Buy now</button>
        
        <button type="button" class="burger-btn" data-menu-button>
            <svg class="burger-btn__icon" width="20px" height="12px">
                <use  href="./images/icons.svg#" ></use>
            </svg>
        </button>
    </div>
</div> 
<!--mobile menu-->
    <div class="mob-menu" data-menu>
        <button type="button" class="mob-close-btn" data-menu-close>
            <svg class="mob-close-btn__icon" width="14px" height="14px">
            <use href="./images/icons.svg#"></use>
            </svg>
        </button> 
    <button class="modal__btn" type="button" data-modal-open>Buy now</button>
        <ul class="menu__list list">
            <li class="menu__item">
                <a class="menu__link link" href="/">Home</a>
            </li>
            <li class="menu__item">
                <a class="menu__link link" href="/">About us</a>
            </li>
            <li class="menu__item">
                <a class="menu__link link" href="/">How it’s made?</a>
            </li>
            <li class="menu__item">
                <a class="menu__link link" href="/">Our products</a>
            </li>
            <li class="menu__item">
                <a class="menu__link link" href="/">Contact</a>
            </li>
        </ul>
    <div>
    </header>
    <!--modal-->
    <div class="backdrop is-hidden" data-modal>
        <div class="modal">
            <button type="button" class="modal-close-btn" data-modal-close>
                <svg class="modal-close-btn__icon" width="14px" height="14px">
                <use href="./images/icons.svg#"></use>
                </svg>
            </button> 
        
            <form class="modal-form">
            </form>
        </div>
    </div>