<!-- section hero -->
<section class="hero">
    <div class="container hero__container">
        <h1 class="hero__title"><p class="hero__title-accent"> ice cream made with</p> passion</h1>
        <div class="hero__buttons">
            <button class="button__pink">Products</button>
            <button class="button__light">How it’s made?</button>
        </div>
        <div>
            <picture>
                <source  srcset="">
                <source srcset="">
                <source srcset="">
                <source srcset="">
                <img class="hero__img" src="" alt="">
            </picture>
            <p class="hero__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <button button-arrow-right>
                <svg class="button-arrow-right__icon" width="18px" height="18px">
                    <use href="./images/sprite.svg#icon-arrow-right"></use>
                </svg>
            </button>
        </div>
        <picture>
            <source srcset="">
            <source srcset="">
            <source srcset="">
            <source srcset="">
            <img class="hero__img" src="" alt="">
        </picture>
        <picture>
            <source srcset="">
            <source srcset="">
            <source srcset="">
            <source srcset="">
            <img class="hero__img" src="" alt="">
        </picture>
        <ul class="hero__list list">
            <li class="hero__item">16
                <p class="hero__">cafes</p>
            </li>
            <li class="hero__item">23
                <p class="hero__">food trucks</p>
            </li>
        </ul>
    </div>
</section>