
    <section class="products">
        <div class="container">
        <label for="" class="subtitle">100% natural</label>
        <h2 class="title">products</h2>
            <ul class="products-cards__list">
                <div class="products-card--pink">
                <li class="products-card__item list">
                    <h3 class="products__title">ice cream</h3>
                    <p class="products-card__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                        aliqua facilisis.
                    </p>
                    <button class="button-arrow-right" type="button">
                        <svg class="button-arrow-right__svg" width="15" height="15">
                            <use href="./images/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                </li>
                </div>
                <div class="products-card--coffee">
                <li class="products-card__item list">
                    <h3 class="products__title">ice coffee</h3>
                    <p class="products-card__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                        aliqua facilisis.
                    </p>
                    <button class="button-arrow-right" type="button">
                        <svg class="button-arrow-right__svg" width="15" height="15">
                            <use href="./images/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                </li>
                </div>
                <div class="products-card--green">
                <li class="products-card__item list">
                    <h3 class="products__title">milkshakes</h3>
                    <p class="products-card__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                        aliqua facilisis.
                    </p>
                    <button class="button-arrow-right" type="button">
                        <svg class="button-arrow-right__svg" width="15" height="15">
                            <use href="./images/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                </li>
                </div>
            </ul>


        </div>
    </section>
</div>