<section class="reviews">
    <div class="container container__reviews ">
            <h2 class="visually-hidden">Users reviews</h2>
            
                <div class="slaider">
                    <div class="slaider-wraper">
                        <img class="slaider-wraper__img" src="./images/reviews/reviewer-one.png" alt="Girl with curly hair">
                    
                        <div class="slaider-wraper__block">
                            <p class="slaider-wraper__text">
                                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                                sem. In hendrerit nulla quam nunc, accumsan
                                congue. Lorem ipsum primis in nibh vel risus.</p>
                        </div>
                    
                        <p class="slaider-wraper__title">Emily, Los Angeles</p>
                    </div>
                </div>    
            
                    
               
                <div class="slaider">
                    <div class="slaider-wraper">
                    <img class="slaider-wraper__img" src="./images/reviews/reviewer-two.png" alt="Girl in glasses">
                
                    <div class="slaider-wraper__block">
                        <p class="slaider-wraper__text">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                            sem. In hendrerit nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.</p>
                    </div>
                    <p class="slaider-wraper__title">Maria, New York</p>
                </div></div>
                    
                
                <div class="slaider">
                    <div class="slaider-wraper">
                        <img class="slaider-wraper__img" src="./images/reviews/reviewer-three.png" alt="Black Girl">
                    
                        <div class="slaider-wraper__block">
                            <p class="slaider-wraper__text">
                                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                                sem. In hendrerit nulla quam nunc, acc6
                                umsan
                                congue. Lorem ipsum primis in nibh vel risus.</p>
                        </div>
                    
                        <p class="slaider-wraper__title">Ivan, Toronto</p>
                    </div>
                </div>
                    
               
           
            <ul class="reviews-icons list">
                <li class="reviews-icons__item"></li>
                <li class="reviews-icons__item"></li>
                <li class="reviews-icons__item"></li>
            </ul>
    </div>

    
</section>