<section class="reviews">
    <h1 class="reviews__title visually-hidden">Users reviews</h1>
    <img class="reviews__img" src="" alt="Girl with curly hair">
    <p class="reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
    congue. Lorem ipsum primis in nibh vel risus.</p>
    <ul class="slider-icons">
        <li class="slider-icons__item">
            <a class="slider-icons__link" href=""></a>
        </li>
        <li class="slider-icons__item">
            <a class="slider-icons__link" href=""></a>
        </li>
        <li class="slider-icons__item">
            <a class="slider-icons__link" href=""></a>
        </li>
    </ul>
</section>