.about__label {
  color: var(--subtitle-color);

  font-family: Titan One;

  font-size: 18px;
  line-height: 1.16;

  text-align: center;
  text-transform: uppercase;

  padding-bottom: 15px;
}

.about__title {
  color: var(--title-color);

  margin: auto;

  font-family: Titan One;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @media screen and (max-width: 480px) {
    max-width: 300px;
  }
}

.about__furse {
  font-family: DM Sans;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;

  margin-bottom: 30px;
}

.about__curabitur {
  color: var(--text-color);
  font-family: DM Sans;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
}

.about__button {
  display: block;
  margin: auto;
  width: 176px;
  height: 44px;

  background: var(--white-text-color);
  border-radius: 22px;
  border: 1px solid;
  //   border: none;

  font-family: DM Sans;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.28;
  color: var(--accent-color);

  cursor: pointer;
}

.button__icon-keyboard-right {
  fill: var(--accent-color);
  width: 10px;
  height: 10px;

  margin-left: 14px;
}

.about__set {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.about__number {
  display: block;
  color: var(--title-color);
  font-family: Titan One;
  font-size: 36px;
  line-height: 1.13;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  padding-bottom: 13px;

  @media screen and (min-width: 1280px) {
    padding-bottom: 15px;
  }
}

.about__par {
  font-family: DM Sans;

  font-weight: bold;
  font-size: 12px;
  line-height: 1.66;

  max-width: 230px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    max-width: 170px;
  }
}
