.container__reviews {
  padding-top: 80px;
  padding-bottom: 86px;
}
.slaider-wraper__img {
  margin: 0 auto;
  margin-bottom: 29px;
}
.slaider-wraper__block {
  width: 100%;
  padding: 43px 66px 26px 57px;
  background-color: var(--bg-reviews);
  margin-bottom: 52px;
}
.slaider-wraper__text {
  @include font-DM-Sans(12, 31, 500);
  text-align: center;
  color: var(--dark-text-color);
  background-image: repeating-linear-gradient(
    rgba(100%, 100%, 100%, 0%) 0px,
    rgba(100%, 100%, 100%, 0%) 29px,
    #e1e1e1 29px,
    #e1e1e1 30px
  );
}
.slaider-wraper__title {
  text-align: center;
  @include font-DM-Sans(14, 26, 500);
}
.slaider-wraper {
  position: relative;
}
.slaider-wraper__block::after {
  content: '';

  display: block;
  background-image: url('../images/reviews/reviewer-one.png');
}
@media screen and (min-width: 768px) {
  .container__reviews {
    padding-top: 121px;
    padding-bottom: 119px;
  }
  .slaider-wraper__img {
    margin-bottom: 19px;
  }
  .slaider-wraper__block {
    padding: 47px 80px 34px 80px;
    margin-bottom: 42px;
  }
  .slaider-wraper__text {
    @include font-DM-Sans(14, 30, 500);
    letter-spacing: 0.04em;
  }
  .slaider-wraper__title {
    @include font-DM-Sans(16, 26, 500);
  }
}
@media screen and (min-width: 1200px) {
  .container__reviews {
    padding-top: 123px;
    padding-bottom: 132px;
  }
  .slaider-wraper__img {
    margin-bottom: 15px;
  }
  .slaider-wraper__block {
    padding: 47px 89px 39px 87px;
    margin-bottom: 34px;
  }
  .slaider-wraper__text {
    letter-spacing: 0.04em;
    @include font-DM-Sans(16, 30, 500);
  }
}
