.container__reviews {
  padding-top: 80px;
  padding-bottom: 86px;
}
.slaider-wraper__img {
  margin: 0 auto;
  margin-bottom: 29px;
}
.slaider-wraper__text {
  width: 100%;
  background-color: var(--bg-reviews);
}
